{% extends 'base.html' %} {% load static %} {% block content %}

<div class="d-flex flex-wrap px-5 p-5 align-items-center border">
  <div class="">
    <h1>Welcome to Django Authentication System</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus
      dolorum delectus necessitatibus temporibus adipisci, harum enim unde,
      suscipit in ipsum provident hic minima molestias reiciendis nihil veniam
      aut doloribus, ab quidem sit cum at nemo nulla autem! Dolor quaerat ea
      voluptatem ullam, consequuntur quisquam ut iste. Vitae exercitationem
      ipsum blanditiis. Nihil rem in quo magni quam sapiente ad ipsa voluptatum
      saepe quos temporibus, at iste? Eum saepe eos error ea recusandae,
      deserunt at quidem odio harum inventore. Necessitatibus eos sapiente
      architecto optio aut esse, facilis, voluptatibus assumenda ut
      exercitationem nobis molestias, quisquam nam quia odio ipsa? Voluptatem
      voluptas distinctio eaque.
    </p>
  </div>
</div>

{% endblock %}
